<!DOCTYPE html>
<html lang="en">

<head th:insert="home.html :: head-html('form')">
</head>

<body>
    <nav th:insert="home.html :: header"></nav>
    <div class="container-fluid mt-3 table">
        <br />
        <h3 id="list-header">Thêm mới hoặc sửa car: </h3>
        <br />
        <form th:action="@{/cars/save}" method="post" class="form-group" th:object="${car}" novalidate="novalidate">
            <label for="manufacturer">Manufacturer:</label>
            <input type="text" class="form-control" id="manufacturer" th:field="*{manufacturer}"><br>
            <label for="model">Model:</label>
            <input type="text" class="form-control" id="model" th:field="*{model}"><br>
            <label for="price">Price:</label>
            <input type="text" class="form-control" id="price" th:field="*{price}"><br>
            <label for="sales">Sales:</label>
            <input type="text" class="form-control" id="sales" th:field="*{sales}"><br>
            <input type="hidden" class="form-control" id="id" th:field="*{id}"><br>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</body>

</html>