<!DOCTYPE html>
<html lang="en">

<head th:insert="home.html :: head-html('search')">
</head>

<body>
    <div container-fluid>
        <nav class="navbar navbar-expand-sm bg-light" th:fragment="header">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="/cars">Trang chủ</a></li>
                <li class="nav-item">
                    <form th:action="@{/cars/search}" class="form-inline" method="post">
                        <input type="text" placeholder="Tìm kiếm theo model, manufacturer" class="form-control"
                            th:field="${searchRequest.keyWord}">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
    <div id="heading">
    </div>
    <table th:insert="home.html :: table"></table>

</body>

</html>